// Paleta de cores
$color-primary: #160d18;
$color-secondary: #23145b;
$color-accent: #09456c;
$color-highlight: #026f6e;
$color-light: #1ca39e;

// Tipografia
$font-family: "Roboto", sans-serif;
$base-font-size: 16px;
