@import "../../styles/variables";

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;

  button {
    background-color: $color-secondary;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $color-highlight;
    }

    &:disabled {
      background-color: #555;
      cursor: not-allowed;
    }
  }
}
